/* Game of life.css*/

body{
    padding:20px;
    background-color: #dddddd;
}

#grid {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
}
div.cell {
  background: Lightgrey;
  border: 1px solid Grey;
  padding: 10px;
}

/*
table{
    background: #444444;
    border-spacing: 0px;
}
td{
    border: 1px solid rbg(90, 90, 90);
    width:10px;
    height:10px;
}
td.isDead{
    background-color: transparent;
}
td.isAlive{
    background-color: #ffff00;
}
*/
