body {
  background-color: lightyellow;
  color: black;
  font-size: 10px;
}

#topbar {
  margin: 5px;
  background-color: darkgray;
  padding-bottom: 10px;
  padding-left: 5px;
}

#ageOfPop {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

#title {
  margin: auto;
  text-align: center;
  font-size: 30px;
  color: black;
}


#grid {
    padding-bottom: 0px;
}
table {
    background-color: lightgrey;
}
td {
    border: 1px solid darkgray;
    width: 10px;
    height: 10px;
}
td.alive{
  background-color: yellow;
}
td.dead{
  background-color: darkgray;
}
